html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient( #50bb20, #0e510e);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    outline: ridge 4px brown;
    background: linear-gradient( burlywood, #b8905c);
    margin: auto;
    text-align: center;
}

header h1 {
    font-size: 40px;
    margin: 10px;
}

h2 {
    text-align: center;
}

main {
    outline: ridge 4px brown;
    background: linear-gradient( burlywood, #b8905c);
    padding: 8px;
    margin: auto;
    width: 600px;
    height: fit-content;
    align-items: center;
    text-align: center;
}

main #output div {
    margin: 2vh;
    font-size: 25px;
}

button {
    outline: ridge 4px brown;
    border: 0;
    margin: 5px;
}

#output {
    outline: ridge 4px brown;
    background-color: whitesmoke;
    min-height: 150px;
    height: fit-content;
    margin: 1vh;
    padding: .5vh;
    text-align: left;
}

#inputValor {
    height: 25px;
    width: 130px;
}

#resultado {
    color: green;
}

footer {
    outline: ridge 4px brown;
    background: linear-gradient( burlywood, #b8905c);
    width: 600px;
    margin: 5vh;
    padding: 2vh;
}

#cash {
    font-size: 6vh;
    color: green;
}